//    <!--Alvaro Cedazo Gonzalez-->
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

$color_fondo_footer: rgb(19, 185, 61);
$padding_footer:1rem;
$color_letra_footer:white;
$color_fondo_header:white;
$color_fondo_menu:rgb(19, 185, 61);
$paddingheader:1rem;