@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
* {
  --outline: solid red;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(19, 185, 61);
}
footer div.columnas {
  width: 100%;
  display: flex;
  flex-direction: row;
}
footer div.columnas div {
  flex: 1;
  padding: 1rem;
  color: white;
}
footer div.columnas div ul {
  list-style-type: none;
  margin-left: 0;
}
footer div.columnas div a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  display: block;
}
footer div.columnas div a:hover {
  text-decoration: underline;
}
footer div.columnas div h4 {
  padding-left: 40px;
}
footer h2 {
  font-weight: bold;
  color: white;
}

.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../img/ciervo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.inicio img {
  width: 25px;
  height: 25px;
}
.inicio #icon {
  position: absolute;
  display: block;
  bottom: 0.5rem;
  right: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  background-image: url("../img/ciervo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 60px;
}
.contacto .contactanos {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 25%;
}
.contacto .contactanos .input {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contacto .contactanos .input label {
  padding: 5px;
}
.contacto .contactanos .boton {
  width: 25%;
  align-items: center;
  justify-content: center;
}
.contacto .contactanos div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about_us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  background-image: url("../img/ciervo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 60px;
}
.about_us div {
  width: 80%;
}
.about_us .mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  background-image: url("../img/ciervo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 60px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.left-column {
  width: 65%;
  position: relative;
  align-items: center;
  justify-content: center;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

.left-column img {
  width: 100%;
  position: absolute;
  top: 30%;
}

.product-description {
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.product-description span {
  font-size: 12px;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: white;
  letter-spacing: -2px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: white;
  line-height: 24px;
  padding-left: 20px;
}

.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: white;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}

.cart-btn:hover {
  background-color: #64af3d;
}

.principio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  background-image: url("../img/ciervo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.principio .prueba {
  /*width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  background-color: white;
  background-size: cover;
  background-position: center center;

  color: vars.$color_fuente_menu;*/
  width: 100%;
  height: 95vh;
  background-image: url(https://getwallpapers.com/wallpaper/full/d/0/2/181736.jpg);
  background-size: cover;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-blend-mode: overlay;
  background-attachment: fixed;
  -webkit-text-stroke: 1px black; /* width and color */
}
.principio .prueba div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 60px;
  /*top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  --backdrop-filter: blur(2px);
}
.principio .prueba a {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-decoration: none;
  transition: 0.5s;
  border: solid 1px rgb(19, 185, 61);
}
.principio .prueba a:hover {
  background-color: rgb(19, 185, 61);
  box-shadow: 0 0 5px 2px rgb(19, 185, 61);
}
.principio .opiniones {
  width: 80vw;
  padding: 40px;
}
.principio .contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.principio .opinion {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 25%;
}
.principio .opinion img {
  height: 15px;
}
.principio #categorias {
  width: 80vw;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.principio #categorias .fila {
  width: 60vw;
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.principio #categorias a {
  width: 50vw;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-decoration: none;
  transition: 0.5s;
  border: solid 1px rgb(19, 185, 61);
}
.principio #categorias a:hover {
  background-color: rgb(19, 185, 61);
  box-shadow: 0 0 5px 2px rgb(19, 185, 61);
}
.principio #destacados {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.principio #destacados img {
  width: 250px;
  height: 400px;
}
.principio div.ribbon {
  font-size: 14px;
  padding: 10px;
  position: absolute;
  right: -25px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: rgb(19, 185, 61);
  color: white;
}
.principio #interes {
  width: 100vw;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.principio #interes .fila {
  width: 80vw;
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.principio #interes a {
  width: 50vw;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-decoration: none;
  transition: 0.5s;
  border: solid 1px rgb(19, 185, 61);
}
.principio #interes a:hover {
  background-color: rgb(19, 185, 61);
  box-shadow: 0 0 5px 2px rgb(19, 185, 61);
}

.categoria-rifle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  background-image: url("../img/ciervo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding-top: 40px;
}
.categoria-rifle .paginacion {
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 40px;
}
.categoria-rifle .paginacion a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.categoria-rifle .paginacion a.activo {
  background-color: rgb(19, 185, 61);
  color: white;
}
.categoria-rifle .paginacion a:hover:not(.activo) {
  background-color: black;
}
.categoria-rifle .linea {
  width: 90%;
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.categoria-rifle .linea .contenedor-rifle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.categoria-rifle .linea .contenedor-rifle a {
  text-decoration: none;
  color: white;
}
.categoria-rifle .linea .contenedor-rifle img {
  width: 431px;
}
.categoria-rifle .linea .contenedor-rifle .ribbon-2 {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  position: relative;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 0 10px var(--f) calc(10px + var(--r));
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%, calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)), var(--r) calc(50% - var(--f) / 2));
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%, calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)), var(--r) calc(50% - var(--f) / 2));
  background: rgb(19, 185, 61);
  box-shadow: 0 calc(-1 * var(--f)) 0 inset rgba(0, 0, 0, 0.3333333333);
}

main.admin {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  background-color: #FFB6C1;
}
main.admin h1 {
  font-size: 3rem;
}
main.admin p.total span {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 0 2px #2f2966;
}
main.admin div:has(table) {
  margin: 2rem;
  height: 500px;
  overflow-y: scroll;
  position: relative;
}
main.admin table {
  border: solid;
  border-collapse: collapse;
}
main.admin table thead {
  position: sticky;
  top: 0px;
}
main.admin table thead tr {
  border: solid 3px black;
}
main.admin table td {
  font-size: 1.5rem;
}
main.admin table th {
  font-size: 1.8rem;
}
main.admin table td, main.admin table th {
  border: solid 2px black;
  padding: 1rem 2rem;
}
main.admin table td img, main.admin table th img {
  width: 200px;
  height: auto;
}
main.admin table td.options div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  visibility: hidden;
}
main.admin table td.options {
  border: none;
}
main.admin table tr:hover td.options div {
  visibility: visible;
}
main.admin table th {
  background-color: #2f2966;
  color: black;
}
main.admin table tr:hover {
  background-color: #8b8b8b !important;
  color: black;
}
main.admin table tr:has(input[type=checkbox]:checked) {
  background-color: orange;
}

.container-tabla {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}
.container-tabla .alumnos-profesor {
  padding-top: 200px;
  text-align: center;
}
.container-tabla .alumnos-profesor table {
  font-size: 2rem;
  border-collapse: collapse;
}
.container-tabla .alumnos-profesor table th {
  background-color: #a8a8a8;
  color: black;
}
.container-tabla .alumnos-profesor table th, .container-tabla .alumnos-profesor table td {
  padding: 10px;
  border: 1px solid black;
}
.container-tabla .alumnos-profesor table th a, .container-tabla .alumnos-profesor table td a {
  color: black;
}
.container-tabla .alumnos-profesor table th a:hover, .container-tabla .alumnos-profesor table td a:hover {
  color: white;
  transition: color 0.25s ease;
}
.container-tabla .alumnos-profesor table th i, .container-tabla .alumnos-profesor table td i {
  padding: 5px;
}
.container-tabla .alumnos-profesor table tr:hover {
  color: white;
  background-color: #2f2966;
  transition: background-color 0.25s ease;
}
.container-tabla p {
  text-align: left;
  padding-bottom: 30px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 9;
}
header img {
  height: 70px;
  width: 70px;
  margin: 5px;
}
header .parteLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .parteLogo div {
  display: flex;
  flex-direction: row;
}
header .parteLogo div h1 {
  font-size: 1.5rem;
}
header .parteLogo div h1#hunter {
  color: orange;
}
header .parteLogo div h1#haven {
  color: brown;
}
header nav {
  align-self: stretch;
  background-color: rgb(19, 185, 61);
  color: white;
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
header nav ul li {
  position: relative;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
}
header nav ul li:hover {
  text-shadow: 2px 2px 3px lightblue;
  background-color: darkgray;
}
header nav ul li:hover ul.submenu {
  display: flex;
  min-width: 30rem;
}
header nav ul li:hover ul.submenu.izq {
  right: 0;
  left: auto;
}
header nav ul.submenu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 3.5rem;
  left: 0;
  background-color: rgb(19, 185, 61);
}
header nav a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
header nav.megamenu {
  position: relative;
}
header nav.megamenu .inner {
  padding: 1rem;
  gap: 5rem;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  position: absolute;
  background-color: rgb(19, 185, 61);
}
header nav.megamenu.reveal .inner {
  opacity: 1;
  visibility: visible;
}

section {
  position: relative;
  max-width: 400px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(55px);
  backdrop-filter: blur(55px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}

h1 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  max-width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2rem;
  top: 20px;
}

.forget {
  margin: 35px 0;
  font-size: 0.85rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label input {
  margin-right: 3px;
}

.forget a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.forget a:hover {
  text-decoration: underline;
}

.validar {
  text-align: center;
}

button {
  border: none;
  border-radius: 20px;
  padding: 10px 4rem;
  background-color: #ffffff;
  font-size: 15px;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #be6c00;
}

.register {
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}

.buscador {
  padding-left: 0px;
  padding-right: 0px;
}
.buscador button#botonLupa {
  padding: 0px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}
.buscador button#botonLupa img {
  height: 16px;
  width: 16px;
}/*# sourceMappingURL=style.css.map */