//    <!--Alvaro Cedazo Gonzalez-->
@use "vars";
@use "page";
@use "footer";
@use "login";
@use "contacto";
@use "about_us";
@use "producto";
@use "index";
@use "categoria";
@use "admin";
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    background-color: vars.$color_fondo_header;
    top: 0;
    z-index: 9;

    img{
        height: 70px;
        width: 70px;
        margin: 5px;
    }

    .parteLogo{
        display: flex;
        flex-direction: row;
        align-items: center;

        div{
            display: flex;
            flex-direction: row;


            h1{
                font-size: 1.5rem;
                &#hunter{
                    color: orange;
                }
                &#haven{
                    color: brown;
                }
            }
        }
    }

    nav{
        align-self: stretch;
        background-color: vars.$color_fondo_menu;
        color: white;
        display: flex;
        justify-content: space-between;

        ul{
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            align-items: center;

            li{
                position: relative;
                padding: vars.$paddingheader;
                font-size: 1.5rem;
                color: white;
                
                &:hover{
                    text-shadow: 2px 2px 3px lightblue;
                    background-color: darkgray;
                }
            }
        }
        
        ul li:hover ul.submenu{
            display: flex;
            min-width: 30rem;

            &.izq{
                right: 0;
                left: auto;
            }
        }

        ul.submenu{
            display: none;
            flex-direction: column;
            position: absolute;
            top: 3.5*vars.$paddingheader;
            left: 0;
            background-color: vars.$color_fondo_menu;
        }
        
        a{
            font-size: 1.5rem;
            color: white;
            text-decoration: none;

        }
    }

    nav.megamenu{
        position: relative;
        .inner{
            padding: 1rem;
            gap: 5rem;
            //display: none;
            display: flex;
            opacity: 0;
            visibility: hidden;
            transition: 1s;
            position: absolute;
            background-color: vars.$color_fondo_menu;
            
        }
        &.reveal .inner{
            opacity: 1;
            visibility: visible;
            //display: flex;
        }
        
    }
}

section{
  position: relative;
  max-width: 400px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(55px);
          backdrop-filter: blur(55px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}

h1 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  max-width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2rem;
  top: 20px;
}

.forget {
  margin: 35px 0;
  font-size: 0.85rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label input {
  margin-right: 3px;
}

.forget a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.forget a:hover {
  text-decoration: underline;
}

.validar {
  text-align: center;
}

button {
  border: none;
  border-radius: 20px;
  padding: 10px 4rem;
  background-color: #ffffff;
  font-size: 15px;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #be6c00;
}

.register {
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}



.buscador{
  padding-left: 0px;
  padding-right: 0px;

  button#botonLupa {
    padding: 0px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  
    img{
      height: 16px;
      width: 16px;
    }
  }
}